* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.navbar {
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
}

a.nav-link {
    font-weight: bold;
}

p.h1 {
    text-align: center;
    text-decoration: underline;
}

.subrayado {
    text-decoration: underline;
    font-weight: bold;
}

/* Colores de fondos de las páginas */
.librosDestacados {
    background-color: rgba(30, 170, 241, 0.1);
}

.catalogo {
    background-color: rgba(254, 233, 78, 0.1);
}

.detalleLibro {
    background-color: rgba(53, 183, 54, 0.1);
}

.condicionesUso {
    background-color: rgba(253, 151, 39, 0.1);
}

.contacto {
    background-color: rgba(154, 47, 174, 0.1);
}

.publicar {
    background-color: #ffc720;
}